:root {
    --icons-color: #4c5773;
    --icons-bg-color: #e2e6e9;
    --shadow-dark-color: #d3dae7;
    --shadow-light-color: #fff;
    --main-bg-color: #ecf0f3;
    --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color), -1rem -1rem -1rem var(--shadow-light-color);
    
}

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "arial", sans-serif;
    background: var(--main-bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: var(--icons-color);
    text-decoration: none;
}
svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--icons-color)
}

/* wrapper  */
.wrapper {
    background: var(--main-bg-color);
    border-radius: 2rem;
    width: 84%;
    height: 80%;
    padding: 2rem;
    box-shadow: -10px -10px 15px rgb(252, 252, 252),
            10px 10px 15px rgba(70,70,70,0.12);
}


.wrapper .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper .container .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .container .top .left {
    background: var(--icons-bg-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: all 300ms ease;
}

.wrapper .container .top .left:hover {
    cursor:pointer;
    background: transparent;
}
.wrapper .container .top .left select {
    background: transparent;
    color: var(--icons-color);
    cursor: pointer;
    text-transform: capitalize;
    border: none;
}

/* right  */

.wrapper .container .top .right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.wrapper .container .top .right a {
    background: var(--icons-bg-color);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.wrapper .container .top .right a:hover {
    background: transparent;
    box-shadow: var(--box-shadow);
}

.wrapper .container .top .right a:last-child {
    display: block;
    overflow: hidden;
}

.wrapper .container .top .right a img {
    width: 100%;
}

/* middle  */
.wrapper .container .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.wrapper .container .middle img {
    width: 1rem;
}

.wrapper .container .middle .search-bar-container {
    display: inline-block; /* Make the container shrink to fit its contents */
    overflow: hidden; /* Hide the box shadow overflow */
}

.wrapper .container .middle .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 5rem;
    padding: 8px;
    margin: 2rem;
    box-shadow: -10px -10px 15px rgb(252, 252, 252), 10px 10px 15px rgba(70,70,70,0.12);
    cursor: pointer;
}

.wrapper .container .middle .search-bar input[type="search"] {
    width: 25rem;
    padding: 1rem 1rem 1rem 0;
    background: transparent;
    color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    color: var(--icons-color);
}


.wrapper .container .middle .search-bar a:first-child img {
    width: 2.5rem;
}

.wrapper .container .middle .search-bar .logo img {
    width: 1.8rem;
    margin-right: 1rem;
}


.wrapper .container .middle .icon {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjust the gap as needed */
}
.wrapper .container .middle .icon a,
.wrapper .container .middle .icon i {
    background: var(--icons-bg-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.wrapper .container .middle .icon a:hover,
.wrapper .container .middle .icon i:hover {
    background: transparent;
    box-shadow: var(--box-shadow);
}

/* bottom  */
.wrapper .container .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .container .bottom .right i:last-child {
    margin-left: 1.5rem;
}